* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*overflow-y: hidden;*/
  font-family: helvetica;
}
textarea {
  height: 50vh;
}
#output {
  float: right;
  width: 50%;
}
#data {
  float: left;
  width: 50%
}
#data:after {
  clear: both;
  content: "";
  display: table;
}
#convert,
#copy,
#save {
  height: 50px;
  font-size: 1rem;
  padding: 10px;
  float: left;
}
#convert {
  width: 50%;
}
#copy,
#save {
  width: 25%;
}
table {
  width: 100%;
}

.button {
  background-color: #666;
  color: white;
  line-height: 2;
  text-align: center;
  box-shadow: inset 0 0 2px #000;
}
.button:hover,
.button.zeroclipboard-is-hover {
  cursor: pointer;
  background-color: #444;
}
